<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<title>Citibike Hood</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet'>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet'>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

</head>


<body>
	<div id="map"></div>
	


	<!-- <hr> -->
	<h1>Citibike Hood</h1>
	<div class="des1" >
		Community Detection Map</br>
		Aug. 2014 
	</br></br>
	Colors: Communities</br>
16 Communities Total
	</div>

	<div class="des">
		Real Time Map</br>
	</div>

	<div class="des2">
	</div>


	<div class="description">
		CitiBike Hood is a data visualization project to define communities of CitiBike stations based on bike trips.</br> Click Pins to see detail! </br>	
	</div>


	
	<!-- button -->
	<div class="bttn community"><br>
		Community Map
	</div>
	<div class="bttn realtime"><br>
		RealTime Map
	</div>

	<!-- library -->
	<script src="d3/d3.v3.min.js"></script>
	<script src="d3/queue.v1.min.js"></script>
		<script src="d3/jsonp.js"></script>

	<!-- code -->
	<script src="js/vis.js"></script>
	<script src="js/main2.js"></script>
</body>

